@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: white; }

.wrapper-outer {
  width: 100%;
  background-color: #0d0d2b; }

.wrapper-white {
  background-color: #f8f9fb; }

.wrapper-secondary {
  background-color: #2b076e; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px; }

.reverse {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 180px;
  align-self: flex-start; }
  .reverse .section-feature-content-item-desc {
    margin-right: 0px;
    margin-left: 50px; }

.offset-to-left {
  position: relative;
  right: 72px;
  background-color: #4610AD;
  border-radius: 16px; }

.section-header {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .section-header .logo {
    text-decoration: none;
    color: white;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase; }
    .section-header .logo .logo-img {
      margin-right: 16px; }
  .section-header .navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .section-header .navigation .nav-wrapper {
      display: flex;
      flex-wrap: wrap;
      list-style: none; }
      .section-header .navigation .nav-wrapper-item {
        margin-left: 32px; }
        .section-header .navigation .nav-wrapper-item-link {
          text-decoration: none;
          color: white; }
    .section-header .navigation .btns {
      margin-left: 56px; }
      .section-header .navigation .btns .log-button {
        text-decoration: none;
        color: white;
        border-right: 1px #f2f2f2 solid;
        padding-right: 24px;
        font-weight: 500;
        font-size: 16px; }
      .section-header .navigation .btns .btn {
        background-color: #3671e9;
        border: none;
        border-radius: 32px;
        padding: 16px 32px 16px 32px;
        margin-left: 24px;
        font-weight: 500;
        font-size: 16px;
        color: white; }

.section-value-prop {
  background-color: #0d0d2b; }

.section-numbers {
  background-color: #0d0d2b; }

.section-feature {
  background-color: #2b076e;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-feature-header {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    max-width: 750px;
    margin-bottom: 100px; }
  .section-feature-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .section-feature-content-item {
      display: flex;
      justify-content: space-around;
      margin-bottom: 120px;
      flex-wrap: wrap; }
      .section-feature-content-item-desc {
        max-width: 450px;
        margin-right: 50px;
        margin-bottom: 20px; }
        .section-feature-content-item-desc-header {
          font-family: "Rubik", sans-serif;
          font-weight: 700;
          font-size: 32px;
          line-height: 48px; }
        .section-feature-content-item-desc-text {
          max-width: 408px;
          margin-top: 24px;
          margin-bottom: 32px; }
        .section-feature-content-item-desc button {
          padding: 16px 32px;
          background-color: #3671e9;
          border-radius: 32px;
          border: none;
          color: white;
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px; }
        .section-feature-content-item-desc-data {
          display: flex;
          width: 510px;
          flex-direction: column;
          background: #35068c;
          backdrop-filter: blur(4px);
          border-radius: 16px;
          padding: 25px 35px; }
          .section-feature-content-item-desc-data-sect1 {
            display: flex;
            justify-content: flex-end; }
            .section-feature-content-item-desc-data-sect1 p {
              margin-left: 62px; }
          .section-feature-content-item-desc-data-sect2 {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
            padding: 5px; }
            .section-feature-content-item-desc-data-sect2-cry {
              display: flex;
              align-items: center; }
              .section-feature-content-item-desc-data-sect2-cry img {
                width: 40px;
                height: 40px;
                margin-right: 16px; }
            .section-feature-content-item-desc-data-sect2-price {
              margin-left: 15px; }
            .section-feature-content-item-desc-data-sect2 .red {
              color: #FF7676; }
            .section-feature-content-item-desc-data-sect2-change {
              display: flex;
              align-items: center;
              margin-left: 5px;
              color: #8FFFBE; }
              .section-feature-content-item-desc-data-sect2-change img {
                width: 16px;
                height: 16px;
                margin-right: 8px; }
            .section-feature-content-item-desc-data-sect2-volume {
              margin-left: 15px; }
