@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

//--Mixins--
@mixin rubik-header1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}

@mixin rubik-header2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

@mixin rubik-button {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

@mixin rubik-normal {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@mixin rubik-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

//--/Mixins--

//--Variables--
$primary-color: #0d0d2b;
$secondary-color: #2b076e;
$neutral-light-color: #f8f9fb;
$button-color: #3671e9;

$padding-vertical-sm: 70px;
$padding-vertical: 100px;
$button-padding: 16px 32px 16px 32px;
//--/Variables--

body {
  @include rubik-normal;
  color: white;
}
.wrapper-outer {
  width: 100%;
  background-color: $primary-color;
}

.wrapper-white {
  background-color: $neutral-light-color;
}

.wrapper-secondary {
  background-color: $secondary-color;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
}

.offset-to-left {
  position: relative;
  right: 72px;
  background-color: #4610AD;;
  border-radius: 16px;
}

// --Header--
.section-header {
  padding-top: $padding-vertical-sm;
  padding-bottom: $padding-vertical-sm;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .logo {
    text-decoration: none;
    color: white;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;

    .logo-img {
      margin-right: 16px;
    }
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .nav-wrapper {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      &-item {
        margin-left: 32px;

        &-link {
          text-decoration: none;
          color: white;
        }
      }
    }

    .btns {
      margin-left: 56px;

      .log-button {
        text-decoration: none;
        color: white;
        border-right: 1px #f2f2f2 solid;
        padding-right: 24px;
        font-weight: 500;
        font-size: 16px;
      }
      .btn {
        background-color: $button-color;
        border: none;
        border-radius: 32px;
        padding: $button-padding;
        margin-left: 24px;
        font-weight: 500;
        font-size: 16px;
        color: white;
      }
    }
  }
}
// --/Header--

// --Value-Prop--
.section-value-prop {
  background-color: $primary-color;
}
// --/Value-Prop--

// --Numbers--
.section-numbers {
  background-color: $primary-color;
}
// --/Numbers--

// --Features--
.section-feature {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    @include rubik-header2;
    text-align: center;
    max-width: 750px;
    margin-bottom: 100px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .reverse {
      flex-direction: row-reverse;
      justify-content: space-between;
      position: relative;
      right: 190px;
      margin-right: 10px;
    
    }

    &-item {
      display: flex;
      justify-content: space-around;
      margin-bottom: 120px;

      &-desc {
        max-width: 450px;
        margin-right: 140px;

        &-header {
          @include rubik-bold;
        }
        &-text {
          max-width: 408px;
          margin-top: 24px;
          margin-bottom: 32px;
        }
        button {
          padding: 16px 32px;
          background-color: $button-color;
          border-radius: 32px;
          border: none;
          color: white;
          @include rubik-button;
        }

        &-data {
          display: flex;
          width: 610px;
          flex-direction: column;
          background: #35068c;
          backdrop-filter: blur(4px);
          border-radius: 16px;
          padding: 25px 35px;

          &-sect1 {
            display: flex;
            justify-content: flex-end;
            p {
              margin-left: 70px;
            }
          }

          &-sect2 {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
            padding: 5px;
            &-cry {
              display: flex;
              align-items: center;
              
              img {
                width: 40px;
                height: 40px;
                margin-right: 16px;
              }
            }
            &-price {
              margin-left: 15px;
            }
            .red {
              color: #FF7676;
            }
            &-change {
              display: flex;
              align-items: center;
              margin-left: 5px;
              color:  #8FFFBE;
        
              img{
                width:16px;
                height: 16px;
                margin-right: 8px;
              }
            }

            &-volume {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}
// --/Features--
